In [1]:
import pandas as pd

In [3]:
df_elecciones =pd.read_csv ("C:/Users/ASUS/Downloads/DATOS/ResultadosElectorales_2023_Generales.csv")
print (df_elecciones.head())

C:\Users\ASUS\AppData\Local\Temp\ipykernel_8440\2509252079.py:1: DtypeWarning: Columns (7,10,11,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df_elecciones =pd.read_csv ("C:/Users/ASUS/Downloads/DATOS/ResultadosElectorales_2023_Generales.csv")

    año eleccion_tipo recuento_tipo padron_tipo  distrito_id  \
0  2023       GENERAL    PROVISORIO      NORMAL            1
1  2023       GENERAL    PROVISORIO      NORMAL            1
2  2023       GENERAL    PROVISORIO      NORMAL            1
3  2023       GENERAL    PROVISORIO      NORMAL            1
4  2023       GENERAL    PROVISORIO      NORMAL            1

                   distrito_nombre  seccionprovincial_id  \
0  Ciudad Autónoma de Buenos Aires                     0
1  Ciudad Autónoma de Buenos Aires                     0
2  Ciudad Autónoma de Buenos Aires                     0
3  Ciudad Autónoma de Buenos Aires                     0
4  Ciudad Autónoma de Buenos Aires                     0

  seccionprovincial_nombre  seccion_id seccion_nombre  ... mesa_tipo  \
0                      NaN           1      Comuna 01  ...   NATIVOS
1                      NaN           1      Comuna 01  ...   NATIVOS
2                      NaN           1      Comuna 01  ...   NATIVOS
3                      NaN           1      Comuna 01  ...   NATIVOS
4                      NaN           1      Comuna 01  ...   NATIVOS

  mesa_electores  cargo_id       cargo_nombre  agrupacion_id  \
0            343         1  PRESIDENTE Y VICE              0
1            343         1  PRESIDENTE Y VICE              0
2            343         1  PRESIDENTE Y VICE              0
3            343         1  PRESIDENTE Y VICE              0
4            349         1  PRESIDENTE Y VICE            134

     agrupacion_nombre lista_numero  lista_nombre votos_tipo  votos_cantidad
0                  NaN          0.0           NaN       NULO               0
1                  NaN          0.0           NaN  IMPUGNADO               0
2                  NaN          0.0           NaN  RECURRIDO               0
3                  NaN          0.0           NaN    COMANDO               0
4  UNION POR LA PATRIA          NaN           NaN   POSITIVO              95

[5 rows x 23 columns]

In [4]:
df_elecciones [["distrito_nombre", "seccion_id", "seccion_nombre"]]

                         distrito_nombre  seccion_id seccion_nombre
0        Ciudad Autónoma de Buenos Aires           1      Comuna 01
1        Ciudad Autónoma de Buenos Aires           1      Comuna 01
2        Ciudad Autónoma de Buenos Aires           1      Comuna 01
3        Ciudad Autónoma de Buenos Aires           1      Comuna 01
4        Ciudad Autónoma de Buenos Aires           1      Comuna 01
...                                  ...         ...            ...
5868097  Ciudad Autónoma de Buenos Aires           5      Comuna 05
5868098  Ciudad Autónoma de Buenos Aires           5      Comuna 05
5868099  Ciudad Autónoma de Buenos Aires           5      Comuna 05
5868100  Ciudad Autónoma de Buenos Aires           5      Comuna 05
5868101  Ciudad Autónoma de Buenos Aires           5      Comuna 05

[5868102 rows x 3 columns]

In [21]:
df_elecciones.dtypes

año                           int64
eleccion_tipo                object
recuento_tipo                object
padron_tipo                  object
distrito_id                   int64
distrito_nombre              object
seccionprovincial_id          int64
seccionprovincial_nombre     object
seccion_id                    int64
seccion_nombre               object
circuito_id                  object
circuito_nombre              object
mesa_id                       int64
mesa_tipo                    object
mesa_electores                int64
cargo_id                      int64
cargo_nombre                 object
agrupacion_id                 int64
agrupacion_nombre            object
lista_numero                float64
lista_nombre                 object
votos_tipo                   object
votos_cantidad                int64
dtype: object

In [5]:
df_dpto =pd.read_csv ("C:/Users/ASUS/Downloads/DATOS/DPTO.csv")
print (df_dpto.head())

   DPTO_REF_ID  PROV_REF_ID  IDDPTO  DPTO  \
0            1            1       1  2001
1            2            1       2  2002
2            3            1       3  2003
3            4            1       4  2004
4            5            1       5  2005

                                             NOMDPTO
0  Comuna 01                                     ...
1  Comuna 02                                     ...
2  Comuna 03                                     ...
3  Comuna 04                                     ...
4  Comuna 05                                     ...

In [7]:
df_dpto [["IDDPTO", "DPTO", "NOMDPTO"]]

    IDDPTO  DPTO                                            NOMDPTO
0        1  2001  Comuna 01                                     ...
1        2  2002  Comuna 02                                     ...
2        3  2003  Comuna 03                                     ...
3        4  2004  Comuna 04                                     ...
4        5  2005  Comuna 05                                     ...
5        6  2006  Comuna 06                                     ...
6        7  2007  Comuna 07                                     ...
7        8  2008  Comuna 08                                     ...
8        9  2009  Comuna 09                                     ...
9       10  2010  Comuna 10                                     ...
10      11  2011  Comuna 11                                     ...
11      12  2012  Comuna 12                                     ...
12      13  2013  Comuna 13                                     ...
13      14  2014  Comuna 14                                     ...
14      15  2015  Comuna 15                                     ...

In [22]:
df_dpto.dtypes

DPTO_REF_ID     int64
PROV_REF_ID     int64
IDDPTO          int64
DPTO            int64
NOMDPTO        object
dtype: object

In [26]:
df_unido = pd.merge(df_elecciones, df_dpto, left_on=['seccion_nombre'], right_on=['NOMDPTO'], how='left')
print (df_unido.head())

    año eleccion_tipo recuento_tipo padron_tipo  distrito_id  \
0  2023       GENERAL    PROVISORIO      NORMAL            1
1  2023       GENERAL    PROVISORIO      NORMAL            1
2  2023       GENERAL    PROVISORIO      NORMAL            1
3  2023       GENERAL    PROVISORIO      NORMAL            1
4  2023       GENERAL    PROVISORIO      NORMAL            1

                   distrito_nombre  seccionprovincial_id  \
0  Ciudad Autónoma de Buenos Aires                     0
1  Ciudad Autónoma de Buenos Aires                     0
2  Ciudad Autónoma de Buenos Aires                     0
3  Ciudad Autónoma de Buenos Aires                     0
4  Ciudad Autónoma de Buenos Aires                     0

  seccionprovincial_nombre  seccion_id seccion_nombre  ...  \
0                      NaN           1      Comuna 01  ...
1                      NaN           1      Comuna 01  ...
2                      NaN           1      Comuna 01  ...
3                      NaN           1      Comuna 01  ...
4                      NaN           1      Comuna 01  ...

     agrupacion_nombre lista_numero  lista_nombre votos_tipo  votos_cantidad  \
0                  NaN          0.0           NaN       NULO               0
1                  NaN          0.0           NaN  IMPUGNADO               0
2                  NaN          0.0           NaN  RECURRIDO               0
3                  NaN          0.0           NaN    COMANDO               0
4  UNION POR LA PATRIA          NaN           NaN   POSITIVO              95

   DPTO_REF_ID PROV_REF_ID  IDDPTO DPTO  NOMDPTO
0          NaN         NaN     NaN  NaN      NaN
1          NaN         NaN     NaN  NaN      NaN
2          NaN         NaN     NaN  NaN      NaN
3          NaN         NaN     NaN  NaN      NaN
4          NaN         NaN     NaN  NaN      NaN

[5 rows x 28 columns]

In [27]:
df_unido [["seccion_nombre", "IDDPTO", "DPTO", "NOMDPTO"]]

        seccion_nombre  IDDPTO  DPTO NOMDPTO
0            Comuna 01     NaN   NaN     NaN
1            Comuna 01     NaN   NaN     NaN
2            Comuna 01     NaN   NaN     NaN
3            Comuna 01     NaN   NaN     NaN
4            Comuna 01     NaN   NaN     NaN
...                ...     ...   ...     ...
5868097      Comuna 05     NaN   NaN     NaN
5868098      Comuna 05     NaN   NaN     NaN
5868099      Comuna 05     NaN   NaN     NaN
5868100      Comuna 05     NaN   NaN     NaN
5868101      Comuna 05     NaN   NaN     NaN

[5868102 rows x 4 columns]

In [16]:
df_vivienda =pd.read_csv ("C:/Users/ASUS/Downloads/DATOS/vivienda.csv")
print (df_vivienda.head())

   VIVIENDA_REF_ID  RADIO_REF_ID  TIPVV  V01  V02  V00  URP  INCALSERV  INMAT  \
0                1             1      1    1    1    0    1          1      1
1                2             1      1    7    1    0    1          1      2
2                3             1      1    4    1    0    1          1      1
3                4             1      1    4    1    0    1          1      1
4                5             1      1    1    1    0    1          3      3

       MUNI    LOCAL  INCALCONS  TOTHOG
0  20010001  2001010          1       2
1  20010001  2001010          2       2
2  20010001  2001010          1       2
3  20010001  2001010          1       1
4  20010001  2001010          2       1

In [17]:
df_hogar =pd.read_csv ("C:/Users/ASUS/Downloads/DATOS/hogar.csv")
print (df_hogar.head())

   HOGAR_REF_ID  VIVIENDA_REF_ID  NHOG  H05  H06  H07  H08  H09  H10  H11  \
0             1                1     1    1    4    1    1    1    1    1
1             2                1     2    1    1    1    1    1    1    1
2             3                1     4    1    3    1    1    1    1    1
3             4                1     6    1    1    1    1    1    1    1
4             5                2     1    1    1    2    1    1    1    1

   ...  H15  H16  H19A  H19B  H19C  H19D  PROP  INDHAC  TOTPERS  ALGUNBI
0  ...    2    2     1     2     1     2     5       1        1        0
1  ...    1    2     1     1     1     1     1       1        1        0
2  ...    3    5     1     1     1     1     1       1        2        0
3  ...    3    5     1     1     1     1     5       6        8        1
4  ...    5    5     1     1     2     1     6       1        2        1

[5 rows x 23 columns]

In [10]:
df_frac =pd.read_csv ("C:/Users/ASUS/Downloads/DATOS/frac.csv")
print (df_frac.head())

   FRAC_REF_ID  DPTO_REF_ID  IDFRAC
0            1            1       1
1            2            1       2
2            3            1       3
3            4            1       4
4            5            1       5

In [11]:
df_prov =pd.read_csv ("C:/Users/ASUS/Downloads/DATOS/prov.csv")
print (df_prov.head())

   PROV_REF_ID  CPV2010_REF_ID  IDPROV  PROV  \
0            1               1       2     2
1            2               1       6     6
2            3               1      10    10
3            4               1      14    14
4            5               1      18    18

                                             NOMPROV
0  Ciudad Autónoma de Buenos Aires               ...
1  Buenos Aires                                  ...
2  Catamarca                                     ...
3  Córdoba                                       ...
4  Corrientes                                    ...

In [12]:
df_radio =pd.read_csv ("C:/Users/ASUS/Downloads/DATOS/radio.csv")
print (df_radio.head())

   RADIO_REF_ID  FRAC_REF_ID  IDRADIO
0             1            1        1
1             2            2        1
2             3            2        2
3             4            2        3
4             5            2        4

In [13]:
df_persona =pd.read_csv ("C:/Users/ASUS/Downloads/DATOS/persona.csv")
print (df_persona.head())

   PERSONA_REF_ID  HOGAR_REF_ID  P01  P02  P03  P05  P06  P07  P12  EDADAGRU  \
0               1             1    1    2   61    1    0    1    2         2
1               2             2    1    1   48    1    0    1    1         2
2               3             3    1    1   65    1    0    1    1         3
3               4             3    2    2   62    1    0    1    1         2
4               5             4    1    1   20    2  221    1    1         2

   EDADQUI  P08  P09  P10  CONDACT
0       13    2    4    2        1
1       10    2    4    1        1
2       14    2    7    2        1
3       13    2    6    1        3
4        5    1    4    2        1